/* 
	Estilos para sección usuarios
	Designed by: Juan Carlos Martínez
*/

body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

.login_user{
width:90%;
padding-top:.9em;
padding-bottom:0px;
padding-left:9px;
position:static;
}

.enlace{
	color:#FF0000;
	font-size:11px;
	text-align:justify;	
}

.enlace a:link, .enlace a:visited{
text-decoration:none;
color:#FF0000;
}

.enlace a:hover, .enlace a:active{
	text-decoration:underline;
	color:#FF0000;	
}

#conten_form{
position:relative;
margin-left:135px;
margin-top:-320px;
margin-bottom:180px;
}

#conten_form_nuevo_usuario{
position:relative;
margin-left:135px;
margin-top:-315px;
margin-bottom:20px;
}

#conten_form_nuevo_usuario2{
position:relative;
margin-left:135px;
margin-top:-220px;
margin-bottom:20px;
}

#content_info_usuario{
position:relative;
margin-left:135px;
margin-top:-220px;
margin-bottom:20px;
}

#conten_form_nuevo_documento{
position:relative;
margin-left:135px;
margin-top:-380px;
margin-bottom:10px;
}

#conten_form_analisis1{
position:relative;
margin-left:135px;
margin-top:-320px;
margin-bottom:10px;
}

#conten_form_analisis2{
position:relative;
margin-left:135px;
margin-top:-315px;
margin-bottom:10px;
}

#conten_form_analisis3{
position:relative;
margin-left:135px;
margin-top:-315px;
margin-bottom:10px;
}

#conten_form_analisis{
position:relative;
margin-left:135px;
margin-top:-240px;
margin-bottom:10px;
}

#conten_form_documento_error_analisis{
position:relative;
margin-left:135px;
margin-top:-235px;
margin-bottom:10px;
}


#conten_form_nuevo_plano{
position:relative;
margin-left:135px;
margin-top:-240px;
margin-bottom:10px;
}

.currently{
display:none;}

#menu{
width:128px;
position:relative;
margin-top:0px;
margin-left:0px;
background-color:#fdd003;
}

#menu2{
width:128px;
position:relative;
margin-top:0px;
margin-left:0px;
background-color:#fdd003;
}

.img_login{
position:absolute;
width:117px;
top:100px;
left:550px;
}

.contenedor_texto_catalogo{
	position:relative;
	width:80%;
}