#contenedor_opciones{
position:relative;
margin-left:460px;
margin-top:-938px;
width:180px;
}

#contenedor_titulo{
position:relative;
width:180px;
margin-left:460px;
margin-top:10px;
}

#conten_cuerpo_seccion{
position:relative;
margin-left:135px;
margin-top:-300px;
margin-bottom:20px;
width:600px;
}


.seccion_ingreso_clasificacion{
position:relative;
margin-top:-290px;
margin-left:140px;
}

/* EMPIEZAN LOS ESTILOS DE LA SECCION OPCIONES AVANZADAS*/

.opciones_avanzadas{
position:relative;
margin-left:0px;
margin-top:10px;
background-color:#ffffbf;
width:290px;
}

.img_config_libro{
position:relative;
margin-top:-40px;
background-image:url(../img/jpg/fondo_config_pagina.jpg);
background-repeat:no-repeat;
background-position:left;
margin-left:10px;
width:150px;
height:250px;
}

.txt_superior_config_libro{
position:relative;
margin-top:-210px;
margin-left:53px;
}

.txt_izq_config_libro{
position:relative;
margin-top:50px;
margin-left:-5px;
}

.txt_der_config_libro{
position:relative;
margin-top:-20px;
margin-left:110px;
}

.txt_inf_config_libro{
position:relative;
margin-top:55px;
margin-left:53px;
}

.btn_agregar_adq{
position:relative;
margin-left:25px;
margin-top:10px;
}

.seccion_detalle_hoja{
position:relative;
margin-left:150px;
margin-top:-160px;
}

.seccion_detalle_hoja_2{
position:relative;
margin-left:10px;
margin-top:50px;
}

.nota_1{
position:relative;
margin-left:10px;
margin-top:10px;
}


/* FIN DE LOS ESTILOS DE CONFIGURACION AVANZADA */

.seccion_vista_previa{
position:relative;
margin-top:-445px;
margin-left:435px;
}

.botones_limpiar_imprimir{
position:relative;
margin-top:10px;
margin-left:75px;
}

/* ESTILOS PARA LOS TIPOS DE ETIQUETAS */

.seccion_tipo_marbete{
position:relative;
margin-top:15px;
margin-left:140px;
margin-bottom:10px;
}

.bloque_etiquetas_1{
position:relative;
margin-top:10px;
margin-left:5px;
}

.bloque_etiquetas_2{
position:relative;
margin-top:-125px;
margin-left:240px;
}

.bloque_etiquetas_3{
position:relative;
margin-top:-125px;
margin-left:440px;
}


/* FIN DE ESTILOS PARA LOS TIPOS DE ETIQUETAS */

.fuenteMarbete{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

.etiquetamarbete{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}

.texto{
font-family:"Arial Narrow";
font-size:11px;
color:#000000;
padding-left:55px;
}

#pagina{
position:relative;
width:420px; 
border:solid;
border-bottom:solid;
border-bottom-width:thin; 
border-left:solid; 
border-left-width:thin; 
border-right:solid; 
border-right-width:thin; 
border-top:solid; 
border-top-width:thin; 
text-align:center; 
height:500px;
}

#ficha_1{
position:relative;
border:solid;
border-bottom:solid;
border-bottom-width:thin; 
border-left:solid; 
border-left-width:thin; 
border-right:solid; 
border-right-width:thin; 
border-top:solid; 
border-top-width:thin; 
text-align:center; 
width:140px;
height:90px;
margin-left:0;
margin-top:-1px;
}

#ficha_2{
position:relative;
border:solid;
border-bottom:solid;
border-bottom-width:thin; 
border-left:solid; 
border-left-width:thin; 
border-right:solid; 
border-right-width:thin; 
border-top:solid; 
border-top-width:thin; 
text-align:center; 
width:140px;
height:90px;
margin-left:140px;
margin-top:-92px;
clear:both;
}

#ficha_3{
position:relative;
border:solid;
border-bottom:solid;
border-bottom-width:thin; 
border-left:solid; 
border-left-width:thin; 
border-right:solid; 
border-right-width:thin; 
border-top:solid; 
border-top-width:thin; 
text-align:center; 
width:140px;
height:90px;
margin-left:280px;
margin-top:-92px;
clear:both;
}

/*******************************************************/

.fuente_dialogo{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}

.lista1{
position:relative;
margin-top:30px;
margin-left:100px;
}

.lista2{
position:relative;
margin-left:340px;
margin-top:-110px;
}

.opciones{
position:relative;
margin-top:-100px;
margin-left:300px;
}