#menu{
width:128px;
position:relative;
margin-top:0px;
margin-left:0px;
background-color:#fdd003;
}

#conten_cont_prestamo{
position:relative;
margin-left:105px;
margin-top:-300px;
margin-bottom:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
width:1024px;
}

.seccion_actual{
	position:relative;
	margin-left:30px;
}

#contenido_lista{
position:relative;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
width:420px;
margin-left:40px;
}

ul.horiz li{
 display: inline;
 list-style-type: none;
 padding-left: 0;
 margin-left: 0;
 margin-right:3px; 
}

#conten_form_usuario_prestamo{
position:relative;
margin-left:135px;
margin-top:25px;
margin-bottom:20px;
}

#fondo_area_busqueda_ejemplar{
	position:relative;
	margin-left:135px;
	margin-top:20px;
	width:72%;
	height:140px;
	padding-top:5px;
	background-color:#CCCCCC;
}

#fondo_area_busqueda_ejemplar2{
	position:relative;
	margin-left:5px;
	margin-top:20px;
	width:72%;
	height:140px;
	padding-top:5px;
	background-color:#CCCCCC;
}

ul{
list-style-image:url(../img/gif/bullet_pink.png);
}